.idea/misc.xml
.idea/PassBank.iml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/modules.xml
scratch.py
main.ipynb
dev_journal.txt
.idea/.gitignore
.env
key.key